.multi-value {
  &.rs__multi-value {
    padding: 0;
    background: var(--theme-elevation-150);
    border: none;
    line-height: calc(#{$baseline} - #{$style-stroke-width-s * 2});
    margin: base(0.25) base(0.5) base(0.25) 0;
  }

  &--is-dragging {
    z-index: 2;
  }
}
